:root {
  font: 16px / 1 sans-serif;
  --purple: #512da8;
  --yellow: #fec109;
  --light-gray: #ededed;
  --dark-gray: #a9a9a9;
  --gray: #ccc;
  --lavender: #d1c4e9;
  --white: #ffffff;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--purple);
  width: 100%;
  height: 100%;
}

.name {
  padding: 0.5rem 0rem;
  margin: 0.5rem;
  font-weight: normal;
  color: var(--white);
}

.sub-nav .about,
.contact-us {
  padding: 1.25rem;
  color: var(--white);
}
.main-section {
  display: flex;
  flex-direction: column;
}

.daily-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8.5rem;
}

.image-text {
  font-size: 2rem;
  color: var(--white);
}

.picture-credits {
  font-size: 0.75rem;
  text-align: center;
}

.image-copyright,
.mission-statement {
  text-align: center;
}

.upcoming-launches {
  margin: 0;
  padding: 1rem 0 1rem 0.5rem;
  background-color: var(--yellow);
}
.launches {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.launch-info {
  margin: 1rem 3rem;
  padding-bottom: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  flex-basis: 80%;
  background-color: var(--light-gray);
}

.launch-card-info {
  display: flex;
  flex-direction: column;
}

.launch-card-info p {
  padding-left: 0.5rem;
}

.launch-title {
  align-self: center;
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: black;
}

.launch-title h3 {
  padding-left: 0.5rem;
}

.launch-description {
  padding-bottom: 0.75rem;
  border-bottom: var(--dark-gray) 1px solid;
  display: flex;
  align-items: baseline;
}

.description-launch {
  padding-left: 0.75rem;
}

.launch-countdown,
.launch-location {
  padding: 0.75rem 0rem;
  border-bottom: var(--dark-gray) 1px solid;
  display: flex;
  align-items: baseline;
}
.right-arrow,
.left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  font-size: 2rem;
  width: 5rem;
  margin: 8rem 0rem;
}

.left-arrow {
  border-radius: 0rem 1rem 1rem 0rem;
}

.right-arrow {
  border-radius: 1rem 0rem 0rem 1rem;
}

.mission-statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: var(--lavender);
}

.title {
  margin-bottom: 0rem;
}
.paragraph {
  margin-bottom: 3rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: var(--purple);
  color: var(--gray);
}

.sdg-link {
  color: var(--gray);
}

i {
  padding-right: 0.25rem;
}

@media (min-width: 320px) and (max-width: 421px) {
  .sub-nav .about,
  .contact-us {
    padding: 0.5rem;
    color: var(--white);
  }
}
